@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  @apply dark:bg-[#181823] bg-[#EFFFFB] duration-300;
}

html::-webkit-scrollbar {
  width: 0.3vw;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(90.13deg, #537FE7 1.9%, #C0EEF2 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #537FE7  1.9%, #C0EEF2 97.5%);
    @apply rounded-2xl
  }


.green-pink-gradient {
    background: "#00cea8";
    background: linear-gradient(90.13deg, #537FE7 1.9%, #C0EEF2 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #537FE7  1.9%, #C0EEF2 97.5%);
  }

.span-highlight {
    @apply text-[#537FE7] font-black italic;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

